.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 10vh;
}

.button, .form{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.button:hover{
  background-color: rgba(0, 0, 0, 0.557);
  border: 2px solid rgba(213, 124, 124, 0.557);
  cursor: pointer;
}

.form, .actual_form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form{
  height: 150px;
}

.actual_form{
  height: 100px;
}
.header{
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12vh;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.557);
  border: 2px solid rgba(213, 124, 124, 0.557);
  cursor: pointer;
  border-radius: 5px;
}